<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>微博搜索 -  - 微博</title>
  </head>
  <body>
    <app :timeline="timeline" :users="users" :current-user="currentUser" :notification="notification" :keywords="keywords"></app>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript">
    window.vm = new Vue({
      el: 'body',
      data: {
        timeline: <%- JSON.stringify(timeline) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
        keywords: <%- JSON.stringify(keywords) %>,
        users: <%- JSON.stringify(users) %>,
      }
    });
  </script>
</html>
