<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>@我的微博 微博-随时随地发现新鲜事</title><link href=/static/css/at.fff9aba84246d350741f9b570640ebd6.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/at.0898fe9577e01c767695.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: <%- JSON.stringify(timeline) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>