<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>收到的评论 微博-随时随地发现新鲜事</title><link href=/static/css/comment.278fcb682461e673f2850679a2b0d0f1.css rel=stylesheet></head><body><app :current-user=currentUser :comments=comments :notification=notification></app><script type=text/javascript src=/static/js/manifest.f14ffe1cdebf47ebbd52.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/comment.8a875d1467c1508bd675.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        comments: <%- JSON.stringify(comments) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>