<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>收到的赞 微博-随时随地发现新鲜事</title><link href=/static/css/like.ecbc2e77948edd108663943335e36b95.css rel=stylesheet></head><body><app :current-user=currentUser :likes=likes :notification=notification></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/like.2dde8588c8d07ead1a48.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        likes: <%- JSON.stringify(likes) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>