<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的赞 微博-随时随地发现新鲜事</title><link href=/static/css/my-like.f3720d11aa907163fb11c42dfc8e8edd.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/my-like.171315e3889bebbd6cf1.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: <%- JSON.stringify(timeline) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>