<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/personalPage.b5558dc2aaf97ca227b16af3f8e4aad3.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :target-user-card=targetUserCard :target-user=targetUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.6c018eb3caa28fe79555.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/personalPage.be6523f11bba6ed7c603.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: <%- JSON.stringify(timeline) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        targetUserCard: <%- JSON.stringify(targetUserCard) %>,
        targetUser: <%- JSON.stringify(targetUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>