<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/profile.d41470082b6fac97eb75ed29b346def1.css rel=stylesheet></head><body><app :full-user-data=fullUserData :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/profile.74f3bd65e21026372fe8.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        fullUserData: <%- JSON.stringify(fullUserData) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>