<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/profile.6ac92bbf8161933b425920cc514d9f4b.css rel=stylesheet></head><body><app :full-user-data=fullUserData :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.6c018eb3caa28fe79555.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/profile.cf29952b462f187d805e.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        fullUserData: <%- JSON.stringify(fullUserData) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
        notification: <%- JSON.stringify(notification) %>,
      }
    });</script></html>