<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>举报提交</title><link href=/static/css/report-spam.0c354408da067d79611dd6ae0707fca8.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/report-spam.a7cd8479cf2bad9d0b6b.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        weibo: <%- JSON.stringify(weibo) %>,
        currentUser: <%- JSON.stringify(currentUser) %>,
      }
    });</script></html>