<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博</title><link href=/static/css/singleWeibo.e2c11a2bd0f2366b0fd017b79c8fdb8e.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.e270b9c3fadcb04706c3.js></script><script type=text/javascript src=/static/js/vendor.1093a07c9a057ba84e06.js></script><script type=text/javascript src=/static/js/singleWeibo.6e52a2785de13b91dc96.js></script></body><script>window.vm = new Vue({
        el: 'body',
        data: {
          weibo: <%- JSON.stringify(weibo) %>,
          currentUser: <%- JSON.stringify(currentUser) %>,
          notification: <%- JSON.stringify(notification) %>,
        }
      });</script></html>