<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>@我的微博 微博-随时随地发现新鲜事</title><link href=/static/css/at.3157a1d9f0da2c8bec1e542ee383193e.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.34d26ac2b1fda86bf4a0.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/at.e1830221d8213c192af6.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>