<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>@我的微博 微博-随时随地发现新鲜事</title><link href=/static/css/at.eb978bb14233ad310de5fa42133f17b3.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/at.2d651003c9c572ddfc73.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>