<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>账号安全</title><link href=/static/css/changePassword.9a9774490d8ac35b5852f637342ca068.css rel=stylesheet></head><body><app :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/changePassword.e576811126f68bcf88a7.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>