<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博-随时随地发现新鲜事</title><link href=/static/css/following.4a0d15177b059ad7dba3535e536226a1.css rel=stylesheet></head><body><app :current-user=currentUser :target-user-card=targetUserCard :target-user=targetUser :users=users :notification=notification></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/following.754064d3de5845cc582d.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        users: ${users},
        currentUser: ${currentUser},
        targetUserCard: ${targetUserCard},
        targetUser: ${targetUser},
        notification: ${notification},
      }
    });</script></html>