<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博-随时随地发现新鲜事</title><link href=/static/css/following.5c0fa15eead16c583c29ca4b3bbd267f.css rel=stylesheet></head><body><app :current-user=currentUser :target-user-card=targetUserCard :target-user=targetUser :users=users :notification=notification></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/following.8d78dc9b3fe1b0385ec9.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        users: ${users},
        currentUser: ${currentUser},
        targetUserCard: ${targetUserCard},
        targetUser: ${targetUser},
        notification: ${notification},
      }
    });</script></html>