<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/index.f364be6df8ecb53eadad8fc312d21cd2.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser></app><script type=text/javascript src=/static/js/manifest.572cd439fe0314198257.js></script><script type=text/javascript src=/static/js/vendor.64fd172821f775fcebbc.js></script><script type=text/javascript src=/static/js/index.30fd8997fa8a1415611e.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        currentUser: ${currentUser},
      }
    });</script></html>