<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>收到的赞 微博-随时随地发现新鲜事</title><link href=/static/css/like.3ddd5b54ecae86fd075fb17f92b41c6d.css rel=stylesheet></head><body><app :current-user=currentUser :likes=likes :notification=notification></app><script type=text/javascript src=/static/js/manifest.34d26ac2b1fda86bf4a0.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/like.5e4035e13bf9a88c79de.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        likes: ${likes},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>