<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>收到的赞 微博-随时随地发现新鲜事</title><link href=/static/css/like.ccc6523f0ca17e6e0d18ad24b883a7c5.css rel=stylesheet></head><body><app :current-user=currentUser :likes=likes :notification=notification></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/like.22d4956f959f5c42124f.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        likes: ${likes},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>