<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的收藏 微博-随时随地发现新鲜事</title><link href=/static/css/my-favourite.84d488c718e870729ff6ec3f2c58ffbf.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.c21daded6069bc8d81c6.js></script><script type=text/javascript src=/static/js/vendor.64fd172821f775fcebbc.js></script><script type=text/javascript src=/static/js/my-favourite.c5fb58c163c24026bcf0.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>