<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/personalPage.b3286ee3294c208ecbaced61502ce0c3.css rel=stylesheet></head><body><app :timeline=timeline :current-user=currentUser :target-user-card=targetUserCard :target-user=targetUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/personalPage.1cfc21e719d8401f835e.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        currentUser: ${currentUser},
        targetUserCard: ${targetUserCard},
        targetUser: ${targetUser},
        notification: ${notification},
      }
    });</script></html>