<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>我的首页 微博-随时随地发现新鲜事</title><link href=/static/css/profile.6ac92bbf8161933b425920cc514d9f4b.css rel=stylesheet></head><body><app :full-user-data=fullUserData :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/profile.6adaab3a3151a5b976ed.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        fullUserData: ${fullUserData},
        currentUser: ${currentUser},
        notification: ${notification},
      }
    });</script></html>