<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>举报提交</title><link href=/static/css/report-spam.fbf3a522fd7fa076b0e05bad0decc12a.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/report-spam.18068160601b88b52044.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        weibo: ${weibo},
        currentUser: ${currentUser},
      }
    });</script></html>