<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博搜索 - - 微博</title><link href=/static/css/search.9595aacf41f07d73abe77d57904e276d.css rel=stylesheet></head><body><app :timeline=timeline :users=users :current-user=currentUser :notification=notification :keywords=keywords></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/search.04a859fbebb9d36a3bb2.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        users: ${users},
        currentUser: ${currentUser},
        notification: ${notification},
        keywords: ${keywords},
      }
    });</script></html>