<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博搜索 - abc - 微博</title><link href=/static/css/searchUser.7c64e2337faa3030e4be479a8b89eb24.css rel=stylesheet></head><body><app :users=users :current-user=currentUser :notification=notification :keywords=keywords></app><script type=text/javascript src=/static/js/manifest.34d26ac2b1fda86bf4a0.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/searchUser.af400578ea10f72e38e6.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        users: ${users},
        currentUser: ${currentUser},
        notification: ${notification},
        keywords: ${keywords},
      }
    });</script></html>