<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博搜索 - abc - 微博</title><link href=/static/css/searchUser.63d73708f2d73798b9b546e05fb7434a.css rel=stylesheet></head><body><app :users=users :current-user=currentUser :notification=notification :keywords=keywords></app><script type=text/javascript src=/static/js/manifest.61eea8765034127bacf7.js></script><script type=text/javascript src=/static/js/vendor.49364a4e95c9f63dadd6.js></script><script type=text/javascript src=/static/js/searchUser.7d0da31d44ab1cc90f44.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        users: ${users},
        currentUser: ${currentUser},
        notification: ${notification},
        keywords: ${keywords},
      }
    });</script></html>