<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博搜索 - - 微博</title><link href=/static/css/search.a67ed6719f9738ce1dd7905a9b6a9c5e.css rel=stylesheet></head><body><app :timeline=timeline :users=users :current-user=currentUser :notification=notification :keywords=keywords></app><script type=text/javascript src=/static/js/manifest.34d26ac2b1fda86bf4a0.js></script><script type=text/javascript src=/static/js/vendor.a8d8ea2a1b6272f1d6fa.js></script><script type=text/javascript src=/static/js/search.74fc67a61e0ee2414dd5.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        timeline: ${timeline},
        users: ${users},
        currentUser: ${currentUser},
        notification: ${notification},
        keywords: ${keywords},
      }
    });</script></html>