<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博搜索 - abc - 微博</title><link href=/static/css/searchUser.3a026c1769c7699f6d4cf5ff25812493.css rel=stylesheet></head><body><app :users=users :current-user=currentUser :notification=notification :keywords=keywords></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/searchUser.0e4939ea5968ed464c37.js></script></body><script>window.vm = new Vue({
      el: 'body',
      data: {
        users: ${users},
        currentUser: ${currentUser},
        notification: ${notification},
        keywords: ${keywords},
      }
    });</script></html>