<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博</title><link href=/static/css/singleWeibo.c11b66f38b4b3394b276cc464694d7e8.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.c21daded6069bc8d81c6.js></script><script type=text/javascript src=/static/js/vendor.64fd172821f775fcebbc.js></script><script type=text/javascript src=/static/js/singleWeibo.914c2858f2ea5a8403fe.js></script></body><script>window.vm = new Vue({
        el: 'body',
        data: {
          weibo: ${weibo},
          currentUser: ${currentUser},
          notification: ${notification},
        }
      });</script></html>