<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博</title><link href=/static/css/singleWeibo.487edd980167c1a77e472c9917292311.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser></app><script type=text/javascript src=/static/js/manifest.cbaa2941665693f13a24.js></script><script type=text/javascript src=/static/js/vendor.5ee8862f4886d56fcacf.js></script><script type=text/javascript src=/static/js/singleWeibo.66d554be9fda8c36a193.js></script></body><script>window.vm = new Vue({
        el: 'body',
        data: {
          weibo: ${weibo},
          currentUser: ${currentUser},
        }
      });</script></html>