<!DOCTYPE html><html><head><meta charset=utf-8><link rel="shortcut icon" type=image/x-icon href=/static/favicon.ico><title>微博</title><link href=/static/css/singleWeibo.2d0f0ae387312bca6fab3c245878a9b6.css rel=stylesheet></head><body><app :weibo=weibo :current-user=currentUser :notification=notification></app><script type=text/javascript src=/static/js/manifest.7fac216114b3ea3da4df.js></script><script type=text/javascript src=/static/js/vendor.1234f427d38108cc1f79.js></script><script type=text/javascript src=/static/js/singleWeibo.e97993a7527bbd525714.js></script></body><script>window.vm = new Vue({
        el: 'body',
        data: {
          weibo: ${weibo},
          currentUser: ${currentUser},
          notification: ${notification},
        }
      });</script></html>