<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <title>微博</title>
  </head>
  <body>
    <app :weibo="weibo" :current-user="currentUser" :notification="notification"></app>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript">
    window.vm = new Vue({
        el: 'body',
        data: {
          weibo: <%- JSON.stringify(weibo) %>,
          currentUser: <%- JSON.stringify(currentUser) %>,
          notification: <%- JSON.stringify(notification) %>,
        }
      });
  </script>
</html>
