.pull-right {
  float: right;
}

@font-face {
    font-family: 'WBswficon';
    src: url("./assets/fonts/swbficon.eot") ;
    src: url("./assets/fonts/swbficonIEFix.eot") format('embedded-opentype'), url("./assets/fonts/swbficon.svg") format('svg'), url("./assets/fonts/swbficon.woff") format('woff'), url("./assets/fonts/swbficon.ttf") format('truetype');
    src: url("./assets/fonts/swbficon.eot") \9;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wbficonregular';
    src: url("./assets/fonts/wbficon.eot") ;
    src: url("./assets/fonts/wbficonIEFix.eot") format('embedded-opentype'), url("./assets/fonts/wbficon.svg") format('svg'), url("./assets/fonts/wbficon.woff") format('woff'), url("./assets/fonts/wbficon.ttf") format('truetype');
    src: url("./assets/fonts/wbficon.eot") \9;
    font-weight: normal;
    font-style: normal;
}

.W_swficon {
  font-family: "WBswficon";
  font-size: 18px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.W_swficon .spac1 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  letter-spacing: -3px;
}

.W_swficon .spac2 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  padding-left: 4px;
}

.W_swficon .spac3 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  letter-spacing: -3.8px;
}

.W_swficon .spac4 {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  padding: 3px 0 0 4px;
}
