body {
  line-height: normal;
  margin: 0;
}
body,button,input,select,textarea {
  font: 12px -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #c8c8cc;
}
a {
  text-decoration: none;
}
button:focus {
  outline: 0;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clrfloat {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
::selection {
  background: #eb7350;
  color: #fff;
}

@font-face {
    font-family: "WBswficon";
    src: url("./assets/fonts/swbficon.eot") ;
    src: url("./assets/fonts/swbficonIEFix.eot") format('embedded-opentype'), url("./assets/fonts/swbficon.svg") format('svg'), url("./assets/fonts/swbficon.woff") format('woff'), url("./assets/fonts/swbficon.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wbficonregular';
    src: url("./assets/fonts/wbficon.eot") ;
    src: url("./assets/fonts/wbficonIEFix.eot") format('embedded-opentype'), url("./assets/fonts/wbficon.svg") format('svg'), url("./assets/fonts/wbficon.woff") format('woff'), url("./assets/fonts/wbficon.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.W_swficon {
  font-family: "WBswficon";
  font-size: 18px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  em {
    font-style: normal;
    margin-right: -4px;
  }
}

.W_swficon .spac1 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  letter-spacing: -3px;
}

.W_swficon .spac2 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  padding-left: 4px;
}

.W_swficon .spac3 {
  display: inline-block;
  vertical-align: top;
  height: 21px;
  letter-spacing: -3.8px;
}

.W_swficon .spac4 {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  padding: 3px 0 0 4px;
}
.W_ficon {
    font-family: "wbficonregular";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}
em.W_ficon {
  font-style: normal;
}

.S_ficon, .S_ficon_dis, a.S_ficon_dis:hover, a:hover .S_ficon_dis {
    color: #ababb2;
}

.WB_cardtitle_a .opt_change .ficon_rotate, .WB_cardtitle_b .opt_change .ficon_rotate {
    margin-right: 6px;
    font-size: 14px;
    -webkit-text-stroke-width: 0.2px;
    vertical-align: middle;
}
.W_loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(./assets/img/loading.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  animation: loading 0.8s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//common icon
i.icon {
  display: inline-block;
}
i.icon-background {
  background-image: url(./assets/img/icon.png);
}

i.send-success {
  width: 38px;
  height: 42px;
  background-position: -375px 0;
}
i.questionB {
  width: 38px;
  height: 42px;
  background-position: -375px -50px;
}

//commonComponents
.success-sended-tip {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 42px;
  margin-top: -21px;
  text-align: center;

  >i,>span {
    vertical-align: middle;
  }
  >i {
    animation: successTipIcon 2s ease both;
  }
  >span {
    color: #c8c8cc;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 16px;
    line-height: 22px;
    vertical-align: middle;
    animation: successTipText 2s ease both;
  }
  @keyframes successTipIcon {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    10%,90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
  @keyframes successTipText {
    0%,10% {
      opacity: 0;
      transform: translateX(-15px);
    }
    50%,90% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(0px);
    }
  }
}


//transition and animation
.opacity-transition {
  transition: opacity .2s ease-out;
  opacity: 1;
}
.opacity-enter, .opacity-leave {
  opacity: 0;
}

.show-weibo-transition {
  transition: all .5s ease;
  transition-property: transform,opacity,max-height;
  opacity: 1;
  max-height: 30vh;
}
.show-weibo-enter {
  transform: translateY(-50px);
  max-height: 0;
  opacity: 0.5;
  overflow: hidden;
}
.show-weibo-leave {
  transform: translateY(50px);
  max-height: 0;
  opacity: 0.5;
  overflow: hidden;
}

@keyframes likeStep {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
